In [1]:
from data_processing import ProcessData
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter, ScalarFormatter

DEBUG:matplotlib:matplotlib data path: /home/abhi/ECE143/ece143/lib/python3.10/site-packages/matplotlib/mpl-data
DEBUG:matplotlib:CONFIGDIR=/home/abhi/.config/matplotlib
DEBUG:matplotlib:interactive is False
DEBUG:matplotlib:platform is linux
DEBUG:matplotlib:CACHEDIR=/home/abhi/.cache/matplotlib
DEBUG:matplotlib.font_manager:Using fontManager instance from /home/abhi/.cache/matplotlib/fontlist-v330.json

In [2]:
data_directory = 'data'
data_processor = ProcessData(data_directory)
data = data_processor.process()

DEBUG:data_processing:Initialized ProcessData with data directory: data
DEBUG:read_data:Initialized ReadData with data directory: data
DEBUG:read_data:Processed 2 datasets
DEBUG:data_processing:Processing layoffs data
/home/abhi/ECE143/ece143_data_analysis_project/data_processing.py:88: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  stage_data = funds.groupby('stage').mean().sort_values(by='total_laid_off', ascending=False)
DEBUG:data_processing:Processing salary data

{'layoffs':             company        location        industry  total_laid_off  \
0            MyGate       Bengaluru           Other           200.0
1             Kinde          Sydney           Other             8.0
2                HP        Tel Aviv        Hardware           100.0
3           Tencent         Shenzen        Consumer           300.0
4      Chipper Cash     SF Bay Area         Finance           100.0
...             ...             ...             ...             ...
2268   HopSkipDrive     Los Angeles  Transportation             8.0
2269    Panda Squad     SF Bay Area        Consumer             6.0
2270  Tamara Mellon     Los Angeles          Retail            20.0
2271       EasyPost  Salt Lake City       Logistics            75.0
2272      Blackbaud      Charleston           Other           500.0

      percentage_laid_off        date     stage        country  funds_raised
0                    0.30  2023-02-20  Series B          India          79.0
1                    0.28  2023-02-20      Seed      Australia          10.0
2                     NaN  2023-02-19  Post-IPO         Israel        4200.0
3                     NaN  2023-02-17  Post-IPO          China       12600.0
4                    0.33  2023-02-17  Series C  United States         302.0
...                   ...         ...       ...            ...           ...
2268                 0.10  2020-03-13   Unknown  United States          45.0
2269                 0.75  2020-03-13      Seed  United States           1.0
2270                 0.40  2020-03-12  Series C  United States          90.0
2271                  NaN  2020-03-11  Series A  United States          12.0
2272                 0.14         NaN  Post-IPO  United States           NaN

[2273 rows x 9 columns], 'salaries':                 timestamp     company     level                         title  \
0       6/7/2017 11:33:27      Oracle        L3               Product Manager
1      6/10/2017 17:11:29        eBay      SE 2             Software Engineer
2      6/11/2017 14:53:57      Amazon        L7               Product Manager
3       6/17/2017 0:23:14       Apple        M1  Software Engineering Manager
4      6/20/2017 10:58:51   Microsoft        60             Software Engineer
...                   ...         ...       ...                           ...
62637   9/9/2018 11:52:32      Google        T4             Software Engineer
62638   9/13/2018 8:23:32   Microsoft        62             Software Engineer
62639  9/13/2018 14:35:59        MSFT        63             Software Engineer
62640  9/16/2018 16:10:35  Salesforce  Lead MTS             Software Engineer
62641   1/29/2019 5:12:59       apple      ict3             Software Engineer

       totalyearlycompensation           location  yearsofexperience  \
0                       127000   Redwood City, CA                1.5
1                       100000  San Francisco, CA                5.0
2                       310000        Seattle, WA                8.0
3                       372000      Sunnyvale, CA                7.0
4                       157000  Mountain View, CA                5.0
...                        ...                ...                ...
62637                   327000        Seattle, WA               10.0
62638                   237000        Redmond, WA                2.0
62639                   220000        Seattle, WA               14.0
62640                   280000  San Francisco, CA                8.0
62641                   200000      Sunnyvale, CA                0.0

       yearsatcompany                             tag  basesalary  ...  \
0                 1.5                             NaN    107000.0  ...
1                 3.0                             NaN         0.0  ...
2                 0.0                             NaN    155000.0  ...
3                 5.0                             NaN    157000.0  ...
4                 3.0                             NaN         0.0  ...
...               ...                             ...         ...  ...
62637             1.0  Distributed Systems (Back-End)    155000.0  ...
62638             2.0                      Full Stack    146900.0  ...
62639            12.0                      Full Stack    157000.0  ...
62640             4.0                             iOS    194688.0  ...
62641             0.0                         ML / AI    155000.0  ...

       Doctorate_Degree  Highschool Some_College Race_Asian  Race_White  \
0                     0           0            0          0           0
1                     0           0            0          0           0
2                     0           0            0          0           0
3                     0           0            0          0           0
4                     0           0            0          0           0
...                 ...         ...          ...        ...         ...
62637                 0           0            0          0           0
62638                 0           0            0          0           0
62639                 0           0            0          0           0
62640                 0           0            0          0           0
62641                 0           0            0          0           0

       Race_Two_Or_More  Race_Black  Race_Hispanic  Race  Education
0                     0           0              0   NaN        NaN
1                     0           0              0   NaN        NaN
2                     0           0              0   NaN        NaN
3                     0           0              0   NaN        NaN
4                     0           0              0   NaN        NaN
...                 ...         ...            ...   ...        ...
62637                 0           0              0   NaN        NaN
62638                 0           0              0   NaN        NaN
62639                 0           0              0   NaN        NaN
62640                 0           0              0   NaN        NaN
62641                 0           0              0   NaN        NaN

[62642 rows x 29 columns]}

In [ ]:
# Funding Plots
funding_data: pd.DataFrame = data['layoff_processed']['__company_funding_stage']
funding_raised_layoffs: pd.DataFrame = data['layoff_processed']['__company_funding_raised']
funding_raised_layoffs.dropna(inplace=True)

# Funds raised per Layoff by Stage
fig = plt.figure(figsize=(10, 5))
plt.bar(funding_data.index, funding_data['Funds raised per Layoff'])
plt.xlabel('Stage of Funding')
plt.ylabel('Funds raised in Millions per Layoff')
plt.title('Funds raised per Layoff by Stage of Funding')
plt.show()

# Stage of Funding versus average layoffs
fig = plt.figure(figsize=(10, 5))
plt.bar(funding_data.index, funding_data['total_laid_off'])
plt.xlabel('Stage of Funding')
plt.ylabel('Average Layoffs')
plt.title('Average Layoffs by Stage of Funding')
plt.show()

# Layoffs versus Funds Raised
fig, ax = plt.subplots(figsize=(10, 5))
plt.scatter(funding_raised_layoffs['funds_raised'], funding_raised_layoffs['total_laid_off'])
plt.xlabel('Funds Raised in Millions')
plt.ylabel('Layoffs')
plt.xscale('log')
plt.yscale('log')
ax.get_xaxis().set_major_formatter(FuncFormatter(lambda x, loc: "${:,.0f}".format(float(x) * 1e6)))
ax.get_yaxis().set_major_formatter(ScalarFormatter())
plt.title('Layoffs versus Funds Raised')
plt.show()